body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 1rem 0rem;
  background-color: #212540;
  color: #fff;
  overflow-x: hidden;
  box-sizing: border-box;
}
.itens-to-do {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}
div.user {
  display: flex;
  padding-bottom: 2rem;
  margin-left: -2px;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.filterDate {
  display: flex;
  width: 50%;
  background-color: #383d53;
  padding: 1rem 0rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
.labelCalendar {
  padding-right: 2em;
}
.calendar {
  display: flex;
  width: 50%;
  background-color: #383d53;
  border: none;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.buttons{
  border: none;
  /* padding: 0.1rem; */
  background: #5d9756d2;
  border-radius: 6px;
  color: rgb(124, 235, 13);
}
.delete{
  padding: 0.5rem;
  border: none;
  /* padding: 0.1rem; */
  background: #f31e1ec2;
  color: #ffffff
}
.exib-to-to {
  margin: 2px;
  margin-right: 4px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 2rem;
  color: #1e2553;
  transition: 0.9s;
}

div.projects {
  display: flex;
  width: 50%;
  padding: 2rem;
  flex-direction: column;
}
.titleProjects {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.projects > div.cardsection {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 0px;
}
div.projects > div > h2 {
  padding-right: 1rem;
}
div.card {
  display: flex;
  flex-direction: column;
  width: 28%;
}
div.card > img {
  border: none;
  border-radius: 8px;
  width: 80%;
}
.cardimg {
  display: flex;
  justify-content: center;
  font-weight: 900;
  background: aqua;
  padding: 32px 0rem;
  margin: 2px;
  border-radius: 0.2rem;
  width: 83px;
}
.botoes {
  display: flex;
  flex: row;
  justify-content: space-between;
  width: 50%;
  padding: 1rem 0rem;
}
.task {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  background-color: #383d53;
  border-radius: 0.4rem;
  padding: 0.7rem 0rem;
  align-items: center;
}
input {
  background-color: #5e606b;
  border: none;
}
.cardteste {
  display: flex;
  justify-content: center;
}
.cardteste:hover {
  border: solid aqua;
  border-radius: 1rem;
  transition-duration: 1s;
  transform: scale(0) translate(10% 10%);
}
.cardimg:hover {
  transition-duration: 1s;
  background: rgb(69, 126, 126);
  transform: scale(1.2) translate(5%) ;
  border-radius: 0.2rem;
  padding: auto;
  margin: 10px;
}

.containerExib {
  display: flex;
  flex-direction: column;
  width: 90;
  padding: 40px;
}

.activity {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
}

.progressItemSelected {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: rgb(124, 235, 13);
  border-radius: 2px;
  background-color:#5d9756d2;
}

.activityInProgress{
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 10rem;
  background-color: white;
  margin: 1px;
  padding: 1px;
  border: solid 1px;

}

.activityInProgress:checked{
  /* display: none; */
  background-color: yellow;
  
}
